        <nav class="docs-nav" aria-label="Docs">
          <p class="docs-nav-heading label">Docs</p>
          <a href="/docs/">Overview</a>
          <a href="/docs/getting-started/">Getting started</a>
          <a href="/docs/spaces-and-notes/">Spaces &amp; notes</a>
          <a href="/docs/markdown/">Markdown</a>
          <a href="/docs/links/">Links &amp; backlinks</a>
          <a href="/docs/search/">Search</a>
          <a href="/docs/themes/">Themes</a>
          <a href="/docs/keyboard/">Keyboard</a>
          <a href="/docs/install/">Install</a>
          <a href="/docs/build/">Build from source</a>
        </nav>
